{% extends 'base.html.twig' %}


{% block title %}
    {{ parent() }} | New lieu
{% endblock %}

{% block body %}

    {{ form_start(lieuForm) }}
    {{ form_row(lieuForm.ville) }}
    {{ form_widget(lieuForm) }}

    <button> Ajouter ce nouveau lieu </button>
    <button class="add" title="Ajouter une ville"> <a href="ville_new">Ajouter une ville </a></button>
    {{ form_end(lieuForm) }}




{% endblock %}