{% extends 'base.html.twig' %}


{% block title %}
    {{ parent() }} | New lieu
{% endblock %}

{% block body %}
<div class="titre"><h1>Nouveau lieu</h1></div>

    <div id="full-size">
        <div class="formulaire">
            {{ form_start(lieuForm) }}
                <div class="div-form">
                    {{ form_row(lieuForm.ville) }}
                    {{ form_widget(lieuForm) }}
                </div>
            <button class="btn-login"> Ajouter ce nouveau lieu </button>
            {{ form_end(lieuForm) }}
            <span class="separator"></span>
        </div>
    </div>

{% endblock %}