{% extends 'base.html.twig' %}

{% block title %}Hello SiteController!{% endblock %}

{% block body %}
    <h1> Gérer les site </h1>
    <br><br><br>
    Filtrer les site
    Le nom contient :
    <input type="search" >
    <button>Rechercher</button>

    {{ form_start(siteForm) }}


    <div class="site-panel">
        <div class="nom-site-pannel">
            <ul>
                {% for site in sites %}
                    <li id="{{ site.id }}">{{ site.nom() }}</li>
                {% endfor %}
                <li>{{ form_row(siteForm.nom) }}</li>

            </ul>
        </div>
        <div class="actions-site-pannel">
            <ul>
                {% for site in sites %}
                    <li><a href="{{ path('site_edit', {'id':site.id()}) }}">Modifier</a> - <a href="{{ path('site_delete', {'id':site.id()}) }}">Supprimer</a> </li>
                {% endfor %}
                <li><button>Submit</button></li>
            </ul>
        </div>
    </div>
    {{ form_end(siteForm) }}
{% endblock %}
