{% extends 'base.html.twig' %}
{% block title %}

{% endblock %}

{% block body %}

<div class="titre"><h1>Profil de {{ user.username }} </h1></div>

    <div id="full-size">
        <div class="etiquette">
            <div class="flex_row">


                <div class="margin" style=" font-size: 20px;">
                    <div> Nom :</div>
                    <div> Prénom :</div>
                    <div> Telephone :</div>
                    <div> Email :</div>
                </div>
                <div style="text-align: left; font-size: 20px;">
                    <div> {{ user.nom }} </div>
                    <div> {{ user.prenom }} </div>
                    <div> {{ user.telephone }} </div>
                    <div> {{ user.email }} </div>
                </div>
            </div>
        </div>
{% endblock %}


{% block extrastyles %}

    <script type="text/javascript">
        var chemin = "{{ app.request.getBaseURL() }}";
        ChangeIt();
    </script>
{% endblock %}