{% extends 'base.html.twig' %}

{% block body %}


    <div class="titre"><h1>Détails de la sortie</h1></div>

    <div id="full-size">
        <div class="etiquette">
            <div class="flex_colonne">
                <h1 class="titre_noir">{{ sortie.nom }}</h1>
                <div>
                    {% if app.user.id == sortie.organisateur.id %}
                        <a href={{ path('sortie_annulation', {'id':sortie.id()}) }}>
                            <button class="btn-login"> Annuler la sortie</button>
                        </a>

                    {% elseif app.user in participants %}
                        <a href="">
                            <button class="btn-login"> Se désister</button>
                        </a>

                    {% else %}
                        <a href="{{ path('sortie_enlist', {'id':sortie.id()}) }}">
                            <button class="btn-login"> S'inscrire</button>
                        </a>

                    {% endif %}
                </div>
            </div>
            <div class="flex_row">

                <div class="margin ">
                    <div> Organisateur :</div>
                    <div> Lieu et ville :</div>
                    <div> Date et Heure de début :</div>
                    <div> Nombre de participants max :</div>
                    <div> Etat de l'inscription :</div>
                </div>
                <div style="text-align: left;">
                    <div><a href="{{ path('profil_detailsById',{'id': sortie.organisateur.id}) }}">
                            <strong>{{ sortie.organisateur.nom }} {{ sortie.organisateur.prenom }} </strong></a></div>
                    <div> {{ sortie.lieu.nom }} à {{ sortie.lieu.ville.nom }} </div>
                    <div> {{ sortie.dateHeureDebut|date('Y-m-d') }} à {{ sortie.dateHeureDebut|date('H:i') }}mn</div>
                    <div> {{ sortie.nbInscritMax }} </div>
                    <div> {{ sortie.etat.libelle }} </div>
                </div>


                <div class="div_form">
                    {{ sortie.description }}

                </div>

                <span class="separator"> </span>

                <div class="titre_noir"> Ils y participent ...</div>
                <div class="list-sorties">
                    <div class="pseudo-participant">
                        <ul>
                            {% for participant in participants %}
                                <li>
                                    <a href="{{ path('profil_detailsById',{'id': participant.id }) }}"> {{ participant.username }} : {{ participant.nom }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>


            </div>

        </div>

    </div>




{% endblock %}


            {% block extrastyles %}
                <style>
                    body {
                        background-image: linear-gradient(top, rgba(255, 0, 0, 0), #ee403d);
                    }
                </style>

                <script type="text/javascript">
                    var chemin = "{{ app.request.getBaseURL() }}";
                    ChangeSortiePicture();
                </script>
                <script type="text/javascript">
                    var chemin = "{{ app.request.getBaseURL() }}";
                    ChangeIt();
                </script>
            {% endblock %}
