{% extends 'base.html.twig' %}

{% block body %}


    <div class="titre"><h1>Détails de la sortie</h1></div>

    <div id="full-size">
        <div class="formulaire">

            <h1>{{ sortie.nom }}</h1>


            <div class="div_form">
                <div class="div_form">
                    {{ sortie.etat.libelle }}
                    {{ sortie.lieu.ville.nom }}
                </div>
                <div class="div_form">
                    {{ sortie.nbInscritMax }}

                </div>
            </div>
            <div class="div_form">
                {{ sortie.description }}

            </div>

            <span class="separator"> </span>


            <div class="div_form">
                <a href="{{ path('profil_detailsById',{'id': sortie.organisateur.id}) }}"> {{ sortie.organisateur.nom }} {{ sortie.organisateur.prenom }}</a>
            </div>

            <div class="list-participant">
                <div class="pseudo-participant">
                    <ul>
                    {% for participant in participants %}
                        <li> <a href="{{ path('profil_detailsById',{'id': participant.id }) }}"> {{ participant.username }} </a> </li>
                    {% endfor %}
                    </ul>
                </div>
                <div class="nom-participant">
                    {% for participant in participants %}
                        <li> <a href="{{ path('profil_detailsById',{'id': participant.id }) }}"> {{ participant.nom }} </a> </li>
                    {% endfor %}
                </div>
            </div>


            {% if app.user.id == sortie.organisateur.id%}
                <a href={{ path('profil_details') }}><button class="btn-login"> Gérer les sorties </button></a>
            {% endif %}

            {% for participant in participants %}
                {% if app.user.id == participant.id %}
                    <a href=""><button class="btn-login"> Se désister </button></a>
                {% endif %}
            {% endfor %}

        </div>
    </div>




{% endblock %}


            {% block extrastyles %}
                <style>
                    body{
                        background-image: linear-gradient(top, rgba(255,0,0,0), #ee403d);
                    }
                </style>

                <script type="text/javascript">
                    var chemin = "{{ app.request.getBaseURL() }}";
                    ChangeSortiePicture();
                </script>
                <script type="text/javascript">
                    var chemin = "{{ app.request.getBaseURL() }}";
                    ChangeIt();
                </script>
            {% endblock %}
