{% extends 'base.html.twig' %}



{% block body %}
    <h1>Sorties : Home page </h1>
    {{ form_start(searchSortieForm) }}
    {{ form_widget(searchSortieForm) }}
    {{ form_end(searchSortieForm) }}

    <div class="display_sorties">
        {% for sortie in sorties %}

            <a class="bloc" href={{ path('sortie_details',{'id': sortie.id}) }}>
                <div class="bloc_sortie">
                    <div class="img_sortie_bloc">
                        <img class="img_sortie" id="img_default" src="{{ asset('img/sorties/default.jpg') }}">
                        <div class="sortie_etat">{{ sortie.etat.libelle }} </div>
                        <div class="sortie_ville"> {{ sortie.lieu.ville.nom }} </div>
                    </div>
                    <div class="infos">
                        <div class="main_infos">
                            <div class="nb_participant"> {{ sortie.nbInscritMax|length }}/ <br>{{ sortie.nbInscritMax }}
                                pers.
                            </div>
                            <div class="infos_area">

                                <div class="sortie_organisateur">{{ sortie.organisateur.prenom }} {{ sortie.organisateur.nom }} </div>
                            </div>
                        </div>
                        <div class="infos_bottom">

                                <div class="main_overview">{{ sortie.description[:100]|nl2br ~ '...' }}</div>

                            <div><a class="btn_go">GO !</a></div>
                        </div>
                    </div>
                </div>
            </a>

        {% else %}
            <p>no records found</p>
        {% endfor %}
    </div>




{% endblock %}

{% block title %}Enivents | Accueil{% endblock %}


       {% block extrastyles %}
           <style>
               body{
                   background-image: linear-gradient(top, rgba(255,0,0,0), #ee403d);
               }
           </style>

           <script type="text/javascript">
               var chemin = "{{ app.request.getBaseURL() }}";
               ChangeSortiePicture();
           </script>
           <script type="text/javascript">
               var chemin = "{{ app.request.getBaseURL() }}";
               ChangeIt();
           </script>
       {% endblock %}

