{% extends 'base.html.twig' %}


{% block body %}
    <h1>Sorties : Home page </h1>
    {{ form_start(searchSortieForm) }}
    {{ form_widget(searchSortieForm) }}
    {{ form_end(searchSortieForm) }}

    {% for sortie in sorties %}
        {{ sortie.nom }} |
    {% endfor %}


    <div class="display_sorties">
        {% for sortie in sorties %}



            <a href={{ path('sortie_details',{'id': sortie.id}) }}>
                <div class="bloc_sortie">
                    <div class="img_sortie_bloc">
                        <img class="img_sortie" id="img_default"  src="{{ asset('img/sorties/default.jpg') }}">
{#                        <div class="sortie_site">{{ sortie.site.nom }}</div>#}
{#                        <div class="sortie_ville">{{ sortie.ville.nom }}</div> #}
                        <div class="sortie_site">sortie.site.nom </div>
                        <div class="sortie_ville"> sortie.ville.nom </div>
                    </div>
                    <div>
                        <div class="main_infos">
                            <div class="nb_participant"> / {{ sortie.nbInscritMax }} pers.</div>
                            <div class="infos_area">
                                <a href="{{ path('sortie_enlist', {'id': sortie.id}) }}">inscription</a>
{#                                <div class="sortie_lieu">{{ sortie.lieu }} </div>#}
                                <div class="sortie_lieu">sortie.lieu </div>
                                <div class="sortie_organisateur">{{ sortie.organisateur.prenom }} </div>
                            </div>
                        </div>
                        <div class="main_overview">{{ sortie.description[:100] ~ '...' }}</div>
                    </div>

                </div>
            </a>




        {% else %}
            <p>no records found</p>
        {% endfor %}
    </div>




{% endblock %}

{% block title %}Enivents | Accueil{% endblock %}


       {% block extrastyles %}

           <script type="text/javascript">
               var chemin = "{{ app.request.getBaseURL() }}";
               ChangeSortiePicture();
           </script>
       {% endblock %}