{% extends 'base.html.twig' %}



{% block body %}



    <div class="section_recherche">
        <div class="main_infos">

            <div class="margin">
                {{ form_start(searchSortieForm) }}
{#                {{ form_row(searchSortieForm.ville) }}#}
                {{ form_row(searchSortieForm.le_nom_de_la_sortie_contient) }}
            </div>
            <div class="margin">
                {{ form_row(searchSortieForm.entre) }}
                {{ form_row(searchSortieForm.et) }}</div>

            <div class="margin">
                {{ form_row(searchSortieForm.filtreOrga) }}
                {{ form_row(searchSortieForm.filtreInscrit) }}
                {{ form_row(searchSortieForm.filtrePasInscrit) }}
                {{ form_row(searchSortieForm.filtreSortiesPasse) }}</div>


            <div>
                <button class="btn-login"> Rechercher</button>
            </div>

            {{ form_end(searchSortieForm) }}</div>


    </div>

    <div class="display_sorties">

        {% for sortie in sorties %}

            {% if (sortie.etat.libelle == 'archivee' or sortie.etat.libelle == 'annulee' or sortie.etat.libelle == 'passee') %}


                <div class="bloc_sortie_archive">

                    <div class="img_sortie_bloc">
                        <img class="img_sortie random_image" id="img_default" src="{{ asset('img/sorties/default.jpg') }}">
                        <div class="sortie_nom">{{ sortie.nom }} </div>
                        <div class="sortie_ville"> {{ sortie.lieu.ville.nom }} </div>
                    </div>
                    <div class="infos">
                        <div class="main_infos">
                            <div class="nb_participant"> {{ sortie.inscriptions|length }} pers. /
                                <br>{{ sortie.nbInscritMax }} </div>
                            <div class="infos_area">
                                <div><a class="btn_fini"> FINI :( </a></div>
                                {#                                <div class="sortie_organisateur">{{ sortie.organisateur.prenom }} {{ sortie.organisateur.nom }} </div> #}
                            </div>
                        </div>
                        <div class="infos_bottom">

                            <div class="main_overview">{{ sortie.description[:100]|nl2br ~ '...' }}</div>


                        </div>
                    </div>
                </div>


            {% else %}
                <a href="{{ path('sortie_details', {'id': sortie.id}) }}">
                    <div class="bloc_sortie">

                        <div class="img_sortie_bloc">
                            <img class="img_sortie" id="img_default" src="{{ asset('img/sorties/default.jpg') }}">
                            <div class="sortie_nom">{{ sortie.nom }} </div>
                            <div class="sortie_ville"> {{ sortie.lieu.ville.nom }} </div>
                        </div>
                        <div class="infos">
                            <div class="main_infos">
                                <div class="nb_participant"> {{ sortie.inscriptions|length }} pers. /
                                    <br>{{ sortie.nbInscritMax }} </div>
                                <div class="infos_area">
                                    <div><a class="btn_go" href={{ path('sortie_enlist',{'id': sortie.id}) }}>GO !</a>
                                    </div>
                                    {#                                <div class="sortie_organisateur">{{ sortie.organisateur.prenom }} {{ sortie.organisateur.nom }} </div> #}
                                </div>
                            </div>
                            <div class="infos_bottom">

                                <div class="main_overview">{{ sortie.description[:100]|nl2br ~ '...' }}</div>


                            </div>
                        </div>
                    </div>
                </a>


            {% endif %}



        {% endfor %}
    </div>




{% endblock %}

{% block title %}Enivents | Accueil{% endblock %}


       {% block extrastyles %}
           <style>
               body {
                   background-image: linear-gradient(top, rgba(255, 0, 0, 0), #ee403d);
               }
           </style>

           <script type="text/javascript">
               var chemin = "{{ app.request.getBaseURL() }}";
               ChangeSortiePicture();
           </script>
           <script type="text/javascript">
               var chemin = "{{ app.request.getBaseURL() }}";
               ChangeIt();
           </script>
       {% endblock %}

