{% extends 'base.html.twig' %}


{% block title %}
    {{ parent() }} | Nouvel événement
{% endblock %}

{% block body %}
    <div class="titre"><h1>Nouvelle Sortie</h1></div>

    <div id="full-size">
        <div class="formulaire">

            {{ form_start(sortieForm) }}
            {{ form_row(sortieForm.nom) }}
            <div class="div_form">
                <div class="div_form">
                    {{ form_row(sortieForm.dateHeureDebut) }}
                    {{ form_row(sortieForm.dateCloture) }}
                </div>
                <div class="div_form">
                    {{ form_row(sortieForm.nbInscritMax) }}
                    {{ form_row(sortieForm.duree) }}
                </div>
            </div>
            {{ form_row(sortieForm.description) }}
            <div class="div_form">
                {{ form_row(sortieForm.lieu) }}
                <a class="btn-login" href="{{ path('lieu_new') }}">Ajouter un lieu</a>
            </div>
            <div class="div_form">
                {{ form_row(sortieForm.ville) }}
                <a class="btn-login" href="{{ path('ville_new') }}"> Ajouter une ville </a>
            </div>

            {{ form_widget(sortieForm) }}
            <span>
            <button class="btn-login"> Créer l'événement !</button>
            {{ form_end(sortieForm) }}

            </span>
        </div>
    </div>

{% endblock %}

{% block extrastyles %}

    <script type="text/javascript">
        var chemin = "{{ app.request.getBaseURL() }}";
        ChangeIt();
    </script>
{% endblock %}