{% extends 'base.html.twig' %}

{% block title %}Hello VilleController!{% endblock %}

{% block body %}
    <div class="titre"><h1>Editions des villes </h1></div>

<div id="full-size">
    <div class="etiquette-admin">
        <div class="flex_row">
    Filtrer les villes
    Le nom contient :
    <input type="search" >
    <button>Rechercher</button>

    {{ form_start(villeForm) }}


    <div class="ville-panel">
        <div class="nom-ville-pannel">
            <ul class="list-villes">
                {% for ville in villes %}
                    <li id="{{ ville.id }}">{{ ville.nom() }}</li>
                {% endfor %}
                <li>{{ form_row(villeForm.nom) }}</li>



            </ul>
        </div>
        <div class="codepostal-ville-pannel">
            <ul class="list-villes">
                {% for ville in villes %}
                    <li id="{{ ville.id }}">{{ ville.codePostal }}</li>
                {% endfor %}
                <li>{{ form_row(villeForm.codePostal) }}</li>

            </ul>
        </div>
        <div class="actions-ville-pannel">
            <ul class="list-villes">
                {% for ville in villes %}
                    <li><a href="{{ path('ville_edit', {'id':ville.id()}) }}">Modifier</a> - <a href="{{ path('ville_delete', {'id':ville.id()}) }}">Supprimer</a> </li>
                {% endfor %}
                <li><button>Submit</button></li>
            </ul>
        </div>
    </div>
    {{ form_end(villeForm) }}
        </div>
    </div>
</div>
{% endblock %}
