{% extends 'base.html.twig' %}

{% block title %}Hello VilleController!{% endblock %}

{% block body %}
    <h1> Gérer les villes </h1>
    <br><br><br>

    Filtrer les villes
    Le nom contient :
    <input type="search">
    <button>Rechercher</button>
    <div class="ville-panel">
        <div class="nom-ville-pannel">
            <ul>
                {% for ville in villes %}
                    <li id="{{ ville.id }}">{{ ville.nom() }}</li>
                {% endfor %}

            </ul>
        </div>
        <div class="codepostal-ville-pannel">
            <ul>
                {% for ville in villes %}
                    <li id="{{ ville.id }}">{{ ville.codePostal }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="actions-ville-pannel">
            <ul>
                {% for ville in villes %}
                    <li><button onclick="textToInput({{ ville.id }})">Modifier</button> - <a href="{{ path('ville_delete', {'id':ville.id()}) }}">Supprimer</a> </li>
                {% endfor %}
            </ul>
        </div>

    </div>
{% endblock %}
