{% extends 'base.html.twig' %}

{% block title %}Hello VilleController!{% endblock %}

{% block body %}
    <h1> Gérer les villes </h1>
    <br><br><br>
    Filtrer les villes
    Le nom contient :
    <input type="search" >
    <button>Rechercher</button>
    <div class="ville-panel">
        <div class="nom-ville-pannel">
            <ul>
                {% for ville in villes %}
                    <li id="{{ ville.id }}">{{ ville.nom() }}</li>
                {% endfor %}
                <form action="{{ path('ville_add') }}" method="POST">

                <input type="text" id="nom" name="nom">

            </ul>
        </div>
        <div class="codepostal-ville-pannel">
            <ul>
                {% for ville in villes %}
                    <li id="{{ ville.id }}">{{ ville.codePostal }}</li>
                {% endfor %}
                <input type="text" id="codePostal" name="codePostal">

            </ul>
        </div>
        <div class="actions-ville-pannel">
            <ul>
                {% for ville in villes %}
                    <li><a href="{{ path('ville_edit', {'id':ville.id()}) }}">Modifier</a> - <a href="{{ path('ville_delete', {'id':ville.id()}) }}">Supprimer</a> </li>
                {% endfor %}
                    <li><button type="submit" href="{{ path('ville_add') }}" id="submit" name="submit"> Ajouter </button></li>
    </form>
            </ul>
        </div>
    </div>
{% endblock %}
